html{
    font-family: 'Open Sans', sans-serif;
    color: #373A3C;

}

a{
    text-decoration: none;
    transition: .3s;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #016499;
    padding: 40px 0px 0px 0px;

}

.sidebar h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin: 20px 0px 40px 0px ;

}

.sidebar a{
    color: white;
    font-size: 18px;
}

.sidebar a:hover{
    color: yellowgreen;
}

.sidebar li{
    padding: 10px;
}

.sidebar-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;

}

.logo-doceria{
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

